.about .contentContainer {
  background: var(--very-dark);
  display: flex;
  justify-content: center;
}
.about .contentContainer .content {
  border-radius: 5px;
  color: #fff;
  line-height: 1.7em;
}
.about .contentContainer .content h1 {
  color: var(--light-red);
  text-transform: uppercase;
}
.about .contentContainer .buttonContainer .firstbtn,
.about .contentContainer .buttonContainer .btn {
  display: flex;
  background: rgba(255, 255, 255, 0.13);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
}
.about .contentContainer .buttonContainer .firstbtn i,
.about .contentContainer .buttonContainer .btn i {
  margin-right: 15px;
  font-size: 21px;
}
.about .contentContainer .buttonContainer .firstbtn:hover,
.about .contentContainer .buttonContainer .btn:hover {
  transform: scale(0.98);
  background: rgba(255, 255, 255, 0.158);
}
@media (min-width: 1000px) {
  .about .contentContainer {
    padding-bottom: 50px;
  }
  .about .contentContainer .content {
    width: 50%;
    padding: 30px;
    font-weight: 500;
  }
  .about .contentContainer .buttonContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 192px;
  }
  .about .contentContainer .buttonContainer .firstbtn {
    grid-row: 1;
  }
  .about .contentContainer .buttonContainer .firstbtn,
  .about .contentContainer .buttonContainer .btn {
    width: 170px;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .about .contentContainer {
    padding-bottom: 50px;
  }
  .about .contentContainer .content {
    width: 65%;
    padding: 30px;
    font-weight: 500;
  }
  .about .contentContainer .buttonContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 192px;
  }
  .about .contentContainer .buttonContainer .firstbtn {
    grid-row: 1;
  }
  .about .contentContainer .buttonContainer .firstbtn,
  .about .contentContainer .buttonContainer .btn {
    width: 170px;
  }
}
@media (max-width: 750px) {
  .about .contentContainer {
    padding-bottom: 20px;
  }
  .about .contentContainer .content {
    padding: 25px;
    font-weight: 400;
  }
}
