.about .contentContainer {
  background: #0f0707;
  background: linear-gradient(180deg, #240b08 0%, #240b08 50%, #0f0707 100%);
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.about .contentContainer .content {
  border-radius: 5px;
  color: #fff;
  line-height: 1.7em;
  text-align: center;
}
.about .contentContainer .content h1 {
  font-family: 'Playfair Display';
}
.about .contentContainer .content .textContainer {
  margin: 20px 0;
}
.about .contentContainer .buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.about .contentContainer .buttonContainer .firstbtn,
.about .contentContainer .buttonContainer .btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  height: 140px;
  width: 140px;
}
.about .contentContainer .buttonContainer .firstbtn i,
.about .contentContainer .buttonContainer .btn i {
  font-size: 42px;
  color: var(--light-red);
}
@media (min-width: 1000px) {
  .about .contentContainer {
    padding-bottom: 50px;
  }
  .about .contentContainer .content {
    width: 65%;
    padding: 30px;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .about .contentContainer {
    padding-bottom: 50px;
  }
  .about .contentContainer .content {
    width: 65%;
    padding: 30px;
  }
  .about .contentContainer .buttonContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 192px;
  }
  .about .contentContainer .buttonContainer .firstbtn {
    grid-row: 1;
  }
  .about .contentContainer .buttonContainer .firstbtn,
  .about .contentContainer .buttonContainer .btn {
    width: 170px;
  }
}
@media (max-width: 750px) {
  .about .contentContainer {
    padding-bottom: 20px;
  }
  .about .contentContainer .content {
    padding: 25px;
  }
}
