.about {
  .contentContainer {
    background: rgb(15, 7, 7);
    background: linear-gradient(
      180deg,
      rgba(36, 11, 8, 1) 0%,
      rgb(36, 11, 8) 50%,
      rgba(15, 7, 7, 1) 100%
    );
    display: flex;
    justify-content: center;
    padding-top: 70px;
    .content {
      border-radius: 5px;
      color: #fff;
      line-height: 1.7em;
      text-align: center;
      h1 {
        font-family: 'Playfair Display';
      }

      .textContainer {
        margin: 20px 0;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-evenly;
      .firstbtn,
      .btn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        height: 140px;
        width: 140px;
        i {
          font-size: 42px;
          color: var(--light-red);
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .about {
    .contentContainer {
      padding-bottom: 50px;

      .content {
        width: 65%;
        padding: 30px;
      }

      // .buttonContainer {
      //   display: grid;
      //   grid-template-columns: repeat(3, 1fr);
      // }
    }
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .about {
    .contentContainer {
      padding-bottom: 50px;

      .content {
        width: 65%;
        padding: 30px;
      }

      .buttonContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 192px;

        .firstbtn {
          grid-row: 1;
        }
        .firstbtn,
        .btn {
          width: 170px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .about {
    .contentContainer {
      padding-bottom: 20px;

      .content {
        padding: 25px;
      }
    }
  }
}
