.admin .header {
  background-color: var(--darkest-grey);
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin .header .h2 {
  margin: 0;
  color: var(--light-grey);
}
.admin .header .navButtonContainer {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: baseline;
}
.admin .header .navButtonContainer a {
  margin-right: 10px;
  border: solid black;
  border-radius: 3px;
  padding: 0 3px;
  background-color: var(--darkest-grey);
  color: var(--light-grey);
}
.admin .header .navButtonContainer a i {
  margin-left: 5px;
}
.admin .header .navButtonContainer a:hover {
  color: white;
}
.admin .header .navButtonContainer button {
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  border: solid black;
  border-radius: 3px;
  background-color: var(--darkest-grey);
  color: var(--light-grey);
}
.admin .header .navButtonContainer button:hover {
  color: white;
}
.admin .sectionHeader {
  text-align: center;
}
.admin .projectContainer {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 50%);
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
}
.admin .projectContainer .project {
  padding: 30px;
  border-radius: 5px;
  color: var(--middle-grey);
  background: var(--darkest-grey);
}
.admin .aboutSection {
  background: var(--darkest-grey);
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  color: var(--middle-grey);
  border-radius: 5px;
  margin-bottom: 30px;
}
.admin .title {
  font-weight: bold;
}
.button {
  display: inline-block;
  border: 0;
  background: var(--blue);
  color: #fff;
  border-radius: 7px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.button:hover {
  transform: scale(0.98);
}
.buttonContainer {
  text-align: right;
}
.editAbout {
  background: var(--darkest-grey);
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  color: var(--middle-grey);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.editAbout .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.editAbout .input {
  margin-bottom: 30px;
  border-style: none;
  min-height: 25px;
  width: 200px;
  font-size: 15px;
  font-weight: 500;
}
