.contact {
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--very-dark);
  width: 100%;
}
.contact h2 {
  color: var(--light-red);
  text-transform: uppercase;
}
.contact p {
  color: white;
}
.contact form {
  width: 100%;
}
.contact form .contentContainer {
  background-color: var(--dark-red);
  border-radius: 5px;
  grid-gap: 20px;
  margin-top: 40px;
}
.contact form .contentContainer .topContainer .input {
  margin: 0 auto;
}
.contact form .contentContainer .topContainer .input label {
  color: var(--light-red);
  font-size: 18px;
  font-weight: bold;
}
.contact form .contentContainer .topContainer .input input {
  border-style: none;
  opacity: 0.8;
  height: 35px;
  width: 100%;
  font-size: 16px;
}
.contact form .contentContainer .msgContainer {
  width: 100%;
}
.contact form .contentContainer .msgContainer label {
  color: var(--light-red);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
.contact form .contentContainer .msgContainer textarea {
  opacity: 0.8;
  border-style: none;
  width: 100%;
  height: 185px;
  padding: 15px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
}
.contact form .contentContainer .submit {
  width: 100%;
  text-align: right;
}
.contact form .contentContainer .submit .btn {
  display: inline-block;
  border: 0;
  background: rgba(255, 255, 255, 0.13);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.contact form .contentContainer .submit .btn:hover {
  transform: scale(0.98);
  background: rgba(255, 255, 255, 0.158);
}
.contact form .contentContainer .error {
  color: var(--very-dark);
  font-weight: 500;
}
@media (min-width: 1001px) {
  .contact form {
    min-width: 500px;
    margin: 40px 0;
  }
  .contact form .contentContainer {
    padding: 30px 60px;
  }
  .contact form .contentContainer .topContainer {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .contact form .contentContainer .topContainer .input label {
    width: 100%;
  }
  .contact form .contentContainer .topContainer .input input {
    margin-top: 15px;
    padding-left: 10px;
  }
  .contact form .contentContainer .msgContainer {
    grid-row: 2;
    width: 100%;
    margin-top: 30px;
  }
  .contact form .contentContainer .msgContainer label {
    grid-row: 1;
  }
  .contact form .contentContainer .msgContainer textarea {
    grid-row: 2;
    margin-top: 15px;
  }
  .contact form .contentContainer .submit {
    grid-row: 3;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .contact form {
    width: 80%;
    margin: 40px 0;
  }
  .contact form .contentContainer {
    padding: 30px 40px;
  }
  .contact form .contentContainer .topContainer {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .contact form .contentContainer .topContainer .input label {
    width: 300px;
  }
  .contact form .contentContainer .topContainer .input input {
    margin-top: 15px;
    padding-left: 10px;
  }
  .contact form .contentContainer .msgContainer {
    grid-row: 2;
    width: 100%;
    margin-top: 30px;
  }
  .contact form .contentContainer .msgContainer label {
    grid-row: 1;
  }
  .contact form .contentContainer .msgContainer textarea {
    grid-row: 2;
    margin: 15px 0;
  }
  .contact form .contentContainer .submit {
    grid-row: 3;
  }
}
@media (max-width: 750px) {
  .contact form {
    margin: 25px;
  }
  .contact form .contentContainer {
    padding: 20px;
  }
  .contact form .contentContainer .topContainer .input input {
    margin: 15px 0;
    max-width: -webkit-fill-available;
  }
  .contact form .contentContainer .msgContainer textarea {
    margin: 15px 0;
    max-width: -webkit-fill-available;
  }
}
