.header {
  background: url('/uploads/headerimgn.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;

  div {
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: 200;
    color: var(--dark-pink);
    position: relative;
    z-index: 3;
    padding: 20vh 15vw;
  }
  b {
    font-weight: 500;
    color: var(--green);
  }

  .dot {
    color: var(--dark-pink);
  }
}
