.header {
  height: 70vh;
  margin-top: -80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, #000000 80%, #000000 40%), url(../public/uploads/key.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: absolute;
}
.header div {
  color: var(--red);
  text-align: center;
}
.header div .a {
  font-size: 3rem;
  font-weight: 900;
}
