.loginForm {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}
.loginForm div {
  text-align: center;
}
.loginForm div h1 {
  margin: 0 0 10px;
  color: white;
}
.loginForm div .inputContainer {
  width: 200px;
  padding-left: 10px;
  height: 25px;
  color: white;
}
.loginForm div button {
  width: 100px;
  height: 27px;
  color: rgba(255, 255, 255, 0.788);
  cursor: pointer;
}
.loginForm div button:hover {
  color: white;
}
.loginForm div .inputContainer,
.loginForm div button {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  margin: 15px;
  font-family: 'Dosis';
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.363) 0px 2px 8px 0px;
}
