.nav,
.navActive {
  height: 60px;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: calc(100vw - 16px);
  position: fixed;
  text-transform: uppercase;
  transition: all 1s;
  .menuRight {
    font-size: 22px;
  }

  .menuLeft {
    font-size: 1rem;
  }
  .menuLeft,
  .menuRight {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin: 5px 15px;

      &:hover {
        cursor: pointer;
        color: var(--light-red);
        transform: scale(1.1);
      }
    }
  }
}

.navActive {
  background: #00000081;
  backdrop-filter: blur(4px);
  // transition: 0.6s ease-in;
  top: -100px;
}

.nav {
  top: 0;
}
