.projects {
  margin-top: 300px;
}
.projects .container {
  width: 100%;
  background: #161616;
  padding-top: 40px;
  padding-bottom: 40px;
}
.projects .container h1 {
  font-family: 'Montserrat';
  text-align: center;
  color: var(--green);
  text-transform: uppercase;
}
.projects .container .dark {
  background-color: #2b2020;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 50px 30px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
}
.projects .container h2 {
  font-family: 'Montserrat';
  color: var(--green);
}
.projects .container p {
  font-family: 'Montserrat';
  color: #fff;
}
.projects .container .pc {
  position: absolute;
  max-height: 210px;
  z-index: 1;
  left: 90px;
  bottom: 10px;
}
.projects .container .mobile {
  position: absolute;
  max-height: 220px;
  z-index: 2;
  left: 400px;
}
.projects .container .btn {
  display: inline-block;
  border: 0;
  background: var(--dark-red);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 20px;
}
.projects .container .btn:hover {
  transform: scale(0.98);
}
