@media (min-width: 1151px) {
  .wrapper {
    .imageWrapper {
      max-width: 75%;
      max-height: 800px;
    }

    .content {
      .h2 {
        font-size: 3rem;
        letter-spacing: 5.6px;
        margin-bottom: 32px;
      }
    }
  }
}

@media (min-width: 1024px) {
  // mitten
  .leftWrapper {
    flex-direction: row-reverse;
    padding: 0px 0px 120px 64px;
  }
  // förstoch sist
  .rightWrapper {
    flex-direction: row;
    padding: 0px 64px 120px 0px;
  }
  .wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    // mitten
    .leftContent {
      margin: 0px -64px 0px 0px;
    }
    .rightContent {
      margin: 0px 0px 0px -64px;
    }
    .content {
      flex-basis: 33%;
      -webkit-box-flex: 0;
      flex-grow: 0;
      padding: 48px 32px;
      max-width: 500px;
    }
  }
}

@media (max-width: 1150px) and (min-width: 770px) {
  .wrapper {
    padding-bottom: 48px;
    .imageWrapper {
      max-width: 75%;
      max-height: 800px;
    }

    .content {
      padding: 24px 16px 48px;
      margin: -32px 16px 0px;
      .h2 {
        font-size: 2rem;
        letter-spacing: 2.4px;
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 769px) {
  .wrapper {
    padding-bottom: 48px;

    .content {
      padding: 24px 16px 48px;
      margin: -32px 16px 0px;

      .h2 {
        font-size: 1.5rem;
        letter-spacing: 2.4px;
        margin: 0px 0px 16px;
      }
    }
  }
}

.projects {
  padding: 120px 0;
  background-color: black;
  .title {
    font-size: 3rem;
    letter-spacing: 5.6px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.21;
    text-align: center;
    color: var(--red);
  }
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    .imageWrapper {
      transform: translateX(0%);
      position: relative;
      overflow: hidden;

      .styledImage {
        display: block;
        max-width: 100%;
      }
    }

    .content {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      text-align: center;
      z-index: 9;
      position: relative;

      .h2 {
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.21;
      }
      .p {
        margin-bottom: 32px;
      }
    }
  }
}
