// @media (min-width: 1201px) {
//   .projects {
//     margin-top: 300px;
//     height: 100%;

//     .container {
//       width: 100%;
//       background: #161616;
//       padding-top: 40px;
//       padding-bottom: 40px;
//       height: 100%;

//       h1 {
//         font-family: 'Montserrat';
//         text-align: center;
//         color: var(--green);
//         text-transform: uppercase;
//       }

//       .projectContainer {
//         background-color: rgb(43, 32, 32);
//         display: grid;
//         grid-template-columns: 40% 60%;
//         grid-gap: 60px;
//         height: 100%;
//         width: 90%;
//         margin: 0 auto;
//         margin-bottom: 30px;
//         border-radius: 5px;
//         padding: 30px 0px 30px 40px;

//         .pc {
//           max-height: 250px;
//           margin-left: 40px;
//         }

//         .text {
//           padding: 0 110px 0 90px;
//           h2 {
//             font-family: 'Montserrat';
//             color: var(--green);
//           }

//           p {
//             font-family: 'Montserrat';
//             color: #fff;
//           }
//           .buttonContainer {
//             margin-top: 40px;
//             .btn {
//               display: inline-block;
//               border: 0;
//               background: rgba(255, 255, 255, 0.13);
//               color: #fff;
//               border-radius: 20px;
//               padding: 8px 20px;
//               text-transform: uppercase;
//               font-weight: bold;
//               font-size: 14px;
//               margin-right: 2vw;
//             }
//             .btn:hover {
//               transform: scale(0.98);
//               background: rgba(255, 255, 255, 0.158);
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media (min-width: 1201px) {
  .projects {
    margin-top: 300px;
    height: 100%;

    .container {
      width: 100%;
      background: #161616;
      padding-top: 40px;
      padding-bottom: 40px;

      h1 {
        font-family: 'Montserrat';
        text-align: center;
        color: var(--green);
        text-transform: uppercase;
      }

      .projectContainer {
        background-color: rgb(43, 32, 32);
        display: grid;
        grid-template-rows: auto auto 40px;
        width: 65%;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 50px 30px 30px;

        .text {
          h2 {
            font-family: 'Montserrat';
            color: var(--green);
          }

          p {
            font-family: 'Montserrat';
            color: #fff;
          }
          margin-bottom: 20px;
        }

        .pc {
          max-height: 100%;
          max-width: 100%;
          margin: 0 auto;
        }

        .buttonContainer {
          text-align: center;

          .btn {
            display: inline-block;
            border: 0;
            background: rgba(255, 255, 255, 0.13);
            color: #fff;
            border-radius: 20px;
            padding: 8px 30px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            margin-right: 30px;
          }
          .btn:hover {
            transform: scale(0.98);
            background: rgba(255, 255, 255, 0.158);
          }
        }
      }
    }
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .projects {
    margin-top: 300px;
    height: 100%;

    .container {
      width: 100%;
      background: #161616;
      padding-top: 40px;
      padding-bottom: 40px;

      h1 {
        font-family: 'Montserrat';
        text-align: center;
        color: var(--green);
        text-transform: uppercase;
      }

      .projectContainer {
        background-color: rgb(43, 32, 32);
        display: grid;
        grid-template-rows: auto auto 40px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 20px 30px 30px;

        .text {
          margin-bottom: 20px;
          h2 {
            font-family: 'Montserrat';
            color: var(--green);
          }

          p {
            font-family: 'Montserrat';
            color: #fff;
          }
        }

        .pc {
          max-height: 100%;
          max-width: 100%;
          margin: 0 auto;
        }

        .buttonContainer {
          text-align: center;

          .btn {
            display: inline-block;
            border: 0;
            background: rgba(255, 255, 255, 0.13);
            color: #fff;
            border-radius: 20px;
            padding: 8px 30px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            margin-right: 30px;
          }
          .btn:hover {
            transform: scale(0.98);
            background: rgba(255, 255, 255, 0.158);
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .projects {
    height: 100%;

    .container {
      background-color: #161616;
      height: 100%;
      padding: 20px 0;
      h1 {
        font-family: 'Montserrat';
        text-align: center;
        color: var(--green);
        text-transform: uppercase;
        margin-top: 0;
      }

      .projectContainer {
        background-color: rgb(43, 32, 32);
        display: grid;
        grid-template-rows: auto auto 40px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 5px 15px 20px;

        .text {
          h2 {
            font-family: 'Montserrat';
            color: var(--green);
          }

          p {
            font-family: 'Montserrat';
            color: #fff;
          }
        }

        .pc {
          max-height: 100%;
          max-width: 100%;
        }

        .buttonContainer {
          text-align: center;
          margin: 10px 0;
          .btn {
            display: inline-block;
            border: 0;
            background: rgba(255, 255, 255, 0.13);
            color: #fff;
            border-radius: 20px;
            padding: 8px 12px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            margin-right: 2vw;
          }
          .btn:hover {
            transform: scale(0.98);
            background: rgba(255, 255, 255, 0.158);
          }
        }
      }
    }
  }
}
