.projects {
  color: white;
}
.projects .container {
  width: 75%;
  margin: 0 auto;
}
.projects .container .projectContainer {
  display: grid;
  grid-template-columns: 330px 200px 200px 200px auto;
  grid-template-rows: 450px 400px auto;
}
.projects .container .projectContainer .textContainer {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red;
  height: auto;
  align-self: center;
  padding: 60px 40px;
  width: 430px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projects .container .projectContainer .textContainer h2 {
  font-family: 'Playfair Display';
  font-size: 35px;
}
.projects .container .projectContainer .textContainer .text {
  margin: 20px 0;
  line-height: 1.6rem;
}
.projects .container .projectContainer .textContainer .buttonContainer {
  display: flex;
  justify-content: space-between;
}
.projects .container .projectContainer .textContainer .buttonContainer .btn {
  border: solid black;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.projects .container .projectContainer .textContainer .buttonContainer .btn:hover {
  background-color: #363636;
}
.projects .container .projectContainer .image {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: -1;
}
.projects .container .projectContainer .image img {
  width: inherit;
}
